h1{
    color:red;
}
.header{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}
.grid{
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    background-color: red;
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}